{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Upload files to GCS
        </div>
        <div class="card-body">
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

<!--                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>

                <p><input class="btn btn-primary" type="submit" value="Upload"/></p>
            </form>
        </div>
    </div>
<p/>
    <div class="card">
        <div class="card-header">
            My files
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">File Name</th>
                      <th scope="col">Uploaded By</th>
                      <th scope="col">Last Modified</th>
                    </tr>
                </thead>

                {% if documents %}
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        <p>No documents.</p>
                    {% endif %}

                {% endblock %}
            </table>
        </div>
    </div>