{% extends "base.html" %}

{% block content %}
<p/>
    <div class="card">
        <div class="card-header">
            Upload files to GCS
        </div>
        <div class="card-body">
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

<!--                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>

                <p><input class="btn btn-primary" type="submit" value="Upload"/></p>
            </form>
        </div>
    </div>
<p/>
    <div class="card">
        <div class="card-header">
            My files
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="selectAll">
                            <label class="form-check-label" for="selectAll">Select All</label>
                          </div>
                      </th>
                      <th scope="col">File Name</th>
                      <th scope="col">Uploaded By</th>
                      <th scope="col">Last Upload Time</th>
                      <th>
                          <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Process
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" id="process_inhk">INHK - cloud_genesis_hk</a>
                            <a class="dropdown-item" href="#" id="process_hsic">HSIC</a>
                          </div>
                        </div>
                      </th>
                    </tr>
                </thead>

                {% if documents %}
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" wx="selectFiles">
<!--                                        <label class="form-check-label" for="selectFiles"></label>-->
                                    </div>
                                </td>
                                <td><a href="{{ document.docfile.url }}">{{ document.filename }}</a></td>
                                <td>{{ document.uploadedby }}</td>
                                <td>{{ document.lastuploadtime }}</td>
                                <td><div class="status">Success</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        <p>No documents.</p>
                    {% endif %}

                {% endblock %}
            </table>
        </div>
    </div>